<h2>Create Event</h2>

<form method="post">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label for="eventName">Name</label>
        <input type="text" required class="form-control"
               id="eventName" name="eventName" value="{{eventName}}"/>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" required class="form-control"
               id="description" name="description" value="{{description}}"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">

      <div class="form-group">
        <label for="eventDate">Date</label>
        <input type="date" required class="form-control"
               id="eventDate" name="eventDate" value="{{eventDate}}"/>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">

      <div class="form-group">
        <label for="eventTime">Time</label>
        <input type="time" required class="form-control"
               id="eventTime" name="eventTime" value="{{eventTime}}"/>
      </div>
    </div>
  </div>

  <input type="hidden" name="clientTimezone" id="clientTimezone"/>
  <input type="hidden" name="iso-formatted-date" id="iso-formatted-date"/>

  <button type="submit" class="btn btn-primary">Create</button>

</form>

<script type="text/javascript">
  (function () {
    // document.getElementById("client-timezone").value = -(new Date().getTimezoneOffset() / 60);
    var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    console.log(timezone);
    document.getElementById("clientTimezone").value = timezone;
  })();
</script>