{{#unless isActivated}}
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label for="inviteCode">Invite Code</label>
        <input type="text" class="form-control"
               id="inviteCode" name="inviteCode" value="{{inviteCode}}"/>
      </div>
    </div>
  </div>
{{/unless}}

<div class="row">

  <div class="col-xs-12 col-md-6">

    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" class="form-control"
             id="fullName" name="fullName" value="{{fullName}}"/>
    </div>

  </div>

  <div class="col-xs-12 col-md-6">

    <div class="form-group">
      <label for="pokerStarsAccountName">PokerStars Account Name</label>
      <input type="text" class="form-control" aria-describedby="pokerStarsAccountNameHelp"
             id="pokerStarsAccountName" name="pokerStarsAccountName"
             value="{{pokerStarsAccountName}}"/>
      <small id="pokerStarsAccountNameHelp" class="form-text text-muted">
        PokerStars is free to play and does not require payment information.
        To set up an account, follow the instructions here: https://www.joshb.me/tournament/pokerstars-setup
      </small>
    </div>

  </div>

</div>

<h4>Payout Information</h4>

<p>(Optional) For ease of payouts, please provide your preferred method for receiving funds</p>

<div class="row">

  <div class="col-xs-12 col-md-6">

    <div class="form-group">
      <label for="payoutMethod">Payout Method <span class="text-muted">(Optional)</span></label>
      <select class="form-control" id="payoutMethod" name="payoutMethod">
        {{#select payoutMethod}}
          <option value="PayPal">PayPal</option>
          <option value="Venmo">Venmo</option>
        {{/select}}
      </select>
    </div>

  </div>

  <div class="col-xs-12 col-md-6">

    <div class="form-group">
      <label for="payoutId">Payout Identification <span class="text-muted">(Optional)</span></label>
      <input type="text" class="form-control" aria-describedby="payoutIdHelp"
             id="payoutId" name="payoutId" value="{{payoutId}}"/>
      <small id="payoutIdHelp" class="form-text text-muted">
        How you are identified in the payment system selected above (example: If PayPal, account email
        address)
      </small>

    </div>

  </div>

</div>