<h2>Welcome to Josh's Poker Room!</h2>

<h2>Upcoming Tournaments</h2>

<ul class="list-group">
  {{#each events}}
    <li class="list-group-item d-flex align-items-center">
      <div class="flex-grow-1">
        <strong>{{this.eventName}}</strong>
        <br/>{{this.eventDate}}
      </div>
      <button type="button" class="btn btn-primary">
        Login to Register
      </button>
    </li>
  {{/each}}
</ul>