<div class="row my-2">
  <div class="col-xs-12 col-md-2 text-center">
    <img src="/images/logo_black.png" />
  </div>

  <div class="col-xs-12 col-md-10 pt-2 pt-md-0">
    <p>Being alone sucks.  Unfortunately, many of us are stuck at home with
      limited opportunity to see our friends and loved ones.</p>

    <p>I hope by organizing some simple, fun events we can keep in better
      touch and help ease the stress of being inside all the time.
      Note that these events are targeted for adult audiences.</p>

    <p>Below is a list of upcoming events. We look forward to seeing you!</p>
  </div>

</div>

<h2>Upcoming Events</h2>

<p>Beating the Ohio winter blues!  <strong>All events begin with a 7:30 PM social and an 8 PM start time</strong> (Eastern)</p>

<ul>
  <li>Saturday, January 16th - Jackbox Game Night</li>
  <li>Saturday, January 23rd - Among Us</li>
  <li>Saturday, January 30th - Poker Tournament (Registration available soon)</li>
  <li>Saturday, February 13th - Game Night</li>
  <li>Saturday, February 27th - Poker Tournament</li>
</ul>