<h2>Welcome to Josh's Poker Room!</h2>

<h2>Upcoming Tournaments</h2>

<ul class="list-group">
    <li class="list-group-item d-flex align-items-center">
        <div class="flex-grow-1">
            <strong>$20 Holiday Tournament</strong>
            <br />Saturday, December 12th - 8pm (7:30pm social kickoff)
        </div>
        <button type="button" class="btn btn-primary">
            Login to Register
        </button>
    </li>
</ul>