<h2>Register for {{event.eventName}}</h2>

<div class="alert alert-success" role="alert">
  <i class="fas fa-check-circle"></i>&nbsp;Your registration was successfully submitted.
</div>

<p>You'll be receiving an email with instructions for payment and joining the Pokerstars group.</p>

<p>We look forward to seeing you on <strong>{{event.eventDate}}</strong> :)</p>

<p><a href="/">Return to homepage</a></p>