<h2>Among Us</h2>

<p>Among Us is based on the classic party murder mystery game, like Mafia or Werewolf.
  The video below gives a brief overview of how it works.</p>

<p>Among Us is available on many platforms, depending on where you'd like to play.
  Before the meetup, please have the software installed and ready to go!</p>

<ul>
  <li>
    <a href="https://apps.apple.com/us/app/among-us/id1351168404" target="_blank">
      <i class="fas fa-external-link-alt"></i>&nbsp;Apple Store
    </a>
  </li>
  <li>
    <a href="https://play.google.com/store/apps/details?id=com.innersloth.spacemafia&hl=en_US&gl=US"
       target="_blank">
      <i class="fas fa-external-link-alt"></i>&nbsp;Google Play
    </a>
  </li>
  <li>
    <a href="https://store.steampowered.com/app/945360/Among_Us/" target="_blank">
      <i class="fas fa-external-link-alt"></i>&nbsp;Steam
    </a>
  </li>
</ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/mnpjpdhUNjY" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>


