<h2>Jackbox Games</h2>

<p><a href="https://www.jackboxgames.com/" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;Jackbox Games</a>
  are a series of group party games.  Anyone with a device with a browser can join...
  they work especially well just from your phone!</p>

<p>Instructions will be shared via Discord screen share when the event starts.</p>
