<h2>Payout Structure</h2>

<p>The event will use a typical payout structure based on the number of participants, shown in the spreadsheet below.</p>

<p>100% of buy in funds will go straight into payouts.</p>

<p>We currently cannot support rebuys.</p>

<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRcFysxeTmIpz059tX4ZQlyky9B3UA6E5E0Ox4o5dhwYg4RUItmFx_g3orBjw0DiER8H38CKCX914QF/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"
width="100%" height="400"></iframe>