<h2>PokerStars Setup</h2>

<h3>Desktop</h3>
<p>Simply download from this page and follow the registration instructions:
  <a href="https://www.pokerstars.bet/" target="_blank">
    <i class="fas fa-external-link-alt"></i>&nbsp;https://www.pokerstars.bet/</a>.
  Payment is not required.</p>

<h3>Mobile</h3>
<p>To join play money games only, please be sure to install the 'LITE' version of the PokerStars mobile app:</p>
<ul>
  <li>
    <a href="https://play.google.com/store/apps/details?id=com.pyrsoftware.pokerstars.net"
       target="_blank">
      <i class="fas fa-external-link-alt"></i>&nbsp;Android
    </a>
  </li>
  <li>
    <a href="https://apps.apple.com/us/app/pokerstars-play-money-poker/id606944207"
       target="_blank">
      <i class="fas fa-external-link-alt"></i>&nbsp;iOS
    </a>
  </li>
</ul>

<h3>Free Play Chips</h3>
<p>While an account is free, play chips are required.
  By signing up, you will receive 35,000 free chips, and can claim 15,000 free chips every four hours.
  <strong>20K play chips will be required to join the tournament.</strong>
  Unfortunately, this is the minimum number of chips I can require to join.</p>

<p>Please be sure to collect the chips required to join, especially if you decide to take advantage of the
  public play money tables available in the app.</p>

<h3>Gameplay</h3>
<p>PokerStars tables operate with a play timer.  To avoid a stressful situation, please consider
  joining a cheap public table beforehand to get a feel for the interface.</p>