<h2>About</h2>

<p>These events are designed to be recreational, home-style poker tournaments.
  Since we sadly cannot meet in person right now, the goal is to create friendly social and
  competitive events that everyone can safely participate in online.</p>

<h2>Game Platform - PokerStars</h2>
<p>We will be using PokerStars' "Home Games" feature, as it offers a very flexible,
  multi-platform private tournament setup.  A few important details:</p>

<ul>
  <li>PokerStars U.S. is free to play; <strong>no payment information is required to register.</strong></li>
  <li>PokerStars has apps for PC, Mac, Android, and iOS.</li>
  <li>While an account is free, play chips are required.  By signing up, you will receive 35,000 free chips,
    and can claim 15,000 free chips every four hours.  <strong>20K play chips will be required to join the tournament.</strong></li>
</ul>

<p>For instructions on installing, please see <a href="pokerstars-setup">this page</a>.</p>

<p>Instructions on how to join the home game tournament from desktop and
  mobile will be emailed upon registration and payment.</p>

<h2>Social Platform - Discord</h2>
<p>We will have a custom Discord Server with channels per table, as well as general social channels.
  This will give us voice chat, video, and text chat functionality.  Participants probably won't want
  to use screen share capabilities, however ;)</p>

<p>Discord offers a wide range of platform options, including web-based, if you do not wish to install a client.</p>

<p>An invite will be sent to participants upon registration and payment.</p>

<p>Visit <a href="https://discord.com/" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;discord.com</a>
  for more information.</p>

<h2>Payout Structure</h2>
<p>The event will be using a typical structure detailed <a href="payout-structure">here</a>, with roughly the top 20% of players receiving payouts.
  All buy-ins go straight into payouts.</p>